body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

nav{
  text-align: right;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

nav a{
  	color: seashell;
  	text-decoration: underline;
}

#logo{
  display: flex;
  flex-grow: 1;
}

#mission{
  display: flex;
  background-image: url("resources/img/img-mission-background.jpg");
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 700px;
  width: 1200px;
}

header{
  display: flex;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  height: 69px;
  width: 100%;
}

header img{
  height: 50px;
  padding-left: 10px;
}

h2,h4{
  	padding: 10px;
  	margin: 0px;
  }
